.stop-profit-and-loss {
  .not-reconfirm {
    display: flex;
    align-items: center;
    margin-top: 10px;
    user-select: none;
    font-weight: 500;
    color: var(--color-text-secondary);
    .common-checkout {
      display: flex;
      align-items: center;
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
  .dialog-div {
    border-radius: 6px;
  }
  .dialog-div-module{
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    height: 56px;
    .td {
      float: right;
    }
  }
  .margin-item {
    border-top-width:10px;
    border-top-style:solid;
    height: 58px;
  }
  .title {
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    color: var(--color-text-secondary);
  }

}