/app/dist
.idea/
.cache/
run/
node_modules/
node_modules/.cache/
app/public/static/img/
app/public/static/locales/
.DS_Store
.history
logs/
run/
test/
typings/

node_modules/BlockChain-ui-privatization.zip
/.github/
/app/view/src/locale/filesMap.json
/app/view/src/utils/imgMap.json

app/public/static/web-worker/echartsData.js
app/public/static/web-worker/websocket.js
app/public/static/js/iconfont.js
