.download-container{
  width 1430px
  display flex
  align-items center
  justify-content center
  gap 80px
  margin 120px auto
  .download-options {
    display flex
    flex-direction column
    align-items flex-start
  }
  .download-banner{
    width 800px 
  }
  .download-options-logo {
    img {
      width: 284px;
      height: 60px;
    }
  }
  .download-options-name {
    color: var(--color-text-primary);
    margin-top: 20px;
    font-size: 40px;
    font-weight 700;
  }
  .download-options-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
  }
  .download-options-buttons {
    text-align: center;
    margin-top: 48px;
    float: left;
  }
  .download-button {
    width: 160px;
    margin-right 20px
  }
  .download-options-rq {
    display: inline-flex;
    align-items center;
    gap:40px;
    border-radius: 20px;
    margin-top: 48px;
    img {
    border-radius: 20px;
    width: 180px;
    height: 180px;
    border: 2px solid var(--color-qr-border);
    }
  }
  .download-options-reText {
    font-size: 18px; 
    font-weight: 800;
    text-align: center;
    line-height: 14px;
    margin-top: 13px;
  }
  .download-options-appText {
   font-weight: 700;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: Outfit;
    color: var(--color-text-primary)
  }
}
