.page-coflowingWater {
  .flowingWater-nav {
    height: 120px;
    line-height: 55px;
    font-size: 32px;
    display: flex;
    align-items: center;
  }
  .flowingWater-options {
    width: 100%;
    box-sizing: border-box;
    padding: 0 44px;
    margin-top: 14px;
    display: inline-flex;
    align-items: center;
    .common-select {
      display: inline-block;
      margin-right: 30px;
    }
  }
  .flowingWater-table {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    .table-head, .table-body-bar, .pagination{
      padding: 0!important;
    }
  }
}
// 国际版
.Int {
  .page-coflowingWater {
    width: 940px;
    margin: 0 auto;
    .flowingWater-table,
    .flowingWater-options {
      padding: 0;
    }
  }
}