.notice-info {
  position: relative;
  .main-content {
    width: 50%;
    min-width: 960px;
    margin: 20px auto 0;
  }
  .menu {
    width: 230px;
    float: left;
    .menu-tit {
      font-size: 16px;
      font-weight: normal;
      line-height: 32px;
      margin-bottom: 17px;
    }
    .menu-item {
      padding: 15px 25px 15px 20px;
      font-size: 14px;
      line-height: 20px;
      cursor: pointer;
      user-select: none;
    }
  }
  .content-box {
    padding-left: 230px;
  }
  .content-text {
    min-height: 500px;
    padding: 0 0 80px;
    .content-title {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }
    .time {
      width: 100px;
      margin-top: 20px;
      font-size: 12px;
      line-height: 16px;
    }
    .main-text {
      margin-top: 35px;
      line-height: 20px;
      font-size: 16px;
    }
  }
}
