.questionsList {
  .nobg {
    background: none!important;
  }
  .title {
    line-height: 40px;
    padding: 40px 24px;
    color: var(--color-text-primary);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }
  .content {
    padding-inline: 4px;
  }
}