.pos-history{
  // width 1180px
  padding: 0 169px 80px;
  .breadcrumb-wrap{
    margin: 40px 0 40px 0;
  }
  .pos-history-title{
    font-size: 32px;
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 40px;
  }
  .date-select-cont{
    padding 26px 0 0 20px
    .date-selecter{
      float left
      margin-right: 20px
    }
  }
  .date-table-cont{
    .table-custom-class{
      width:65%;
      text-align:right;
    }
  }
  .nav-tab{
    border-bottom 1px solid
  }
  .c_list_nav li {
    font-size: 20px;
    line-height: 55px;
    font-weight: 600;
    margin-right: 32px;
    color: var(--color-text-secondary);
  }
  .activeLine {
    width: 24px;
    background-color: var(--color-text-primary);
    bottom: -1px;
  }
  .table-head {
    height: 44px;
    line-height: 44px;
    padding: 0;
    border-bottom: 1px solid var(--color-Toggle);
  }
  .table-body-bar {
    padding: 0;
  }
}