.set-up-window {
  .redio-block {
    align-items: center;
    margin-top: 12px;
    .label {
      display: block;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: var(--color-text-secondary);
    }
    .redio-box {
      font-size: 14px;
      color: var(--color-text-primary);
      padding-block: 12px;
      >span {
        display: inline-block;
        margin-right: 32px;
        cursor: pointer;
        min-width: 60px;
      }
      .common-redio {
        margin-right: 8px;
        margin-bottom: -2px;
      }
    }
    .check-box {
      display: flex;
      align-items: center;
      .common-checkout, .common-checkout img {
        width: 20px;
        height: 20px;
      }
      .common-checkout {
        margin-right: 10px;
      }
      >span {
        color: var(--color-text-primary);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .switchWrap {
      float: right;
    }
  }
  .ts-1 {
    padding: 0 0 10px;
    font-size: 12px;
  }
  .redio-block2 {
    .label {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      color: var(--color-text-secondary);
    }
    .item {
      font-size: 14px;
      color: var(--color-text-primary);
      .common-redio {
        margin-right: 8px;
        margin-bottom: -2px;
      }
    }
    .item:last-child {
      margin-top: 10px;
    }
    p.ts-2 {
      line-height: 20px;
      padding: 8px 0 0 26px;
    }
    span {
      display: block;
      cursor pointer
    }
    .redio-box2 {
      padding-block: 12px;
    }
  }
  .ts-3 {
    padding-top: 15px;
    margin-bottom: -10px;
  }
  .ts-4 {
    padding-left: 20px;
    font-size: 12px;
  }
  .button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;

    button {
      margin-right: 20px;
    }
  }
}