.set-up{
    width:100%;
    .user-management-child-header{
        font-size: 14px;
        padding: 40px 44px;
        color: var(--color-text-primary)
        font-size: 32px;
        font-weight: 700;
    }

    .center-title{
      svg {
        margin-right:10px;
      }
      font-size: 12px;
      width:380px;
      margin:0 auto;
      padding:20px 0 54px 0;
    }
    .center{
      width:380px;
      margin:54px 300px;
    }
    .common-button.common-button-solid-disabled {
      color: var(--color-text-disabled);
    }
  }