.user-management-bind-google{
    width:100%;
    .user-management-child-header{
      font-size: 14px;
      padding:18px 0 18px 20px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      box-sizing: border-box;
    }
    .user-management-center i{
      width:14px;
      height:16px;
    }
    .center-title{
      font-size: 12px;
      width:380px;
      margin:0 auto;
      padding:20px 0 54px 0;
    }
    .center-two-ewm {
      display: flex;
    }
    .center-two img{
      width:180px;
      height:180px;
      border-radius: 12px;
      margin-right: 20px;
    }
    .center-two div p{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 16px;
      border-radius: 8px;
      background: var(--color-Input-fill);
      line-height: 18px;
      box-sizing: border-box;
      color: var(--color-text-primary);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
    }
    .center-two div svg {
      cursor: pointer;
    }
    .center-two, .center-three{
      margin-top: 20px;
    }
    .center-three-y-title{
      display: flex;
      svg {
        margin-right 8px;
      }
      color: var(--color-text-primary);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    .center-three-y-title i{
      float: left;
      width:14px;
      height:12px;
      margin: 0 10px 20px 28px;
    }
    .center-text{
      color: var(--color-text-secondary);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .center-input{
      width:380px;
      margin:0 auto;
      padding-top: 70px;
    }
    .center-one-button{
      margin-right: 20px;
    }
    .user-management-child-header .user-button{
      position: inherit;
    }
  }
  // 国际版
  .Int {
    .user-management-bind-google {
      .center-one,
      .center-two,
      .center-three {
        width: 100%;
        padding: 40px 0;
      }
      .center-two .center-two-ewm {
        height: 100px;
      }
      .center-two .center-two-ewm p {
        float: left;
      }
      .center-two .center-two-ewm img {
        float: left;
        margin-right: 18px;
      }
      .center-three-form {
        width: 380px;
      }
    }
  }